.month-header {
	max-width:45px;
	min-width:45px;
	width:45px;
}

.month-header > div {
	transform:translate(15px, 38px)rotate(315deg);
	height:80px;
	width:25px;
	margin: 0 auto;
}

body {
	font-size:14pt;
}

.resource {
	font-weight:bold;
}

.number {
	text-align:right;

}


#projections-table {
	width:96% !important;
	margin:0 auto !important;
}

.datepicker {
	width:100px;
	text-align:center;
	margin: 0 auto;
	box-sizing: border-box;
	border:none;
	background: none;
}

.datepicker:hover {
	border-style:solid !important;
	border-width: 1 !important;
	border-color:black !important;
	background-color:white !important;
}


.year-header > div {
	font-weight:bold;
	font-size:18pt;
	text-align:center;
}

/* .number:empty {
	background-color:black;
} */

.project-row:hover {
	background-color:#a9efe7 !important;
}

.resource-row:hover {

	background-color:#29d6c2 !important;
}

.totals {
	font-weight:bold;
	font-style: italic;
}

.editable:hover {
	border-style:solid !important;
	border-width: 1 !important;
	border-color:black !important;
	background-color:white !important;
}

.holiday-row {
	font-size:11pt;
}

.holiday-row > td {
	padding-right:15px;

	font-weight:bold;
}

.holiday-row-label {
	font-size:12pt;
	font-weight:bold;
	padding:5px;
}

.max-row {
	font-size:11pt;
}

.max-row > td {
	padding-right:15px;
	font-weight:bold;
}

.max-row-label {
	font-size:12pt;
	font-weight:bold;
	padding:5px;
}

.all-expander {
	width:20px;
	height:20px;
	float:left;
}

.all-expander.expanded {
	background-image:url('/images/expanded.png');
}

.all-expander.collapsed {
	background-image:url('/images/collapsed.png');
}

.project-adder {
	float:left;
	font-weight:bold;
	color:darkgreen;
}

.project-deleter {
	float:left;
	font-weight:bold;
	color:red;
	font-size:8pt;
}

