.month-header {
	max-width:45px;
	min-width:45px;
	width:45px;
}

.month-header > div {
	transform:translate(15px, 38px)rotate(315deg);
	height:80px;
	width:25px;
	margin: 0 auto;
}

body {
	font-size:14pt;
}

.resource {
	font-weight:bold;
}

.number {
	text-align:right;
}

#example {
	width:90%;
	margin:0 auto;
}

.year-header > div {
	font-weight:bold;
	font-size:18pt;
	text-align:center;
}

.project-row:hover {
	background-color:yellow;
}

.totals {
	font-weight:bold;
	font-style: italic;
}

.editable:hover {
	border-style:solid;
	border-width: 1;
	border-color:black;
	background-color:white;
}

.holiday-row {
	font-size:11pt;
}

.holiday-row > td {
	padding-right:15px;
	font-weight:bold;
}

.holiday-row-label {
	font-size:12pt;
	font-weight:bold;
	padding:5px;
}

.max-row {
	font-size:11pt;
}

.max-row > td {
	padding-right:15px;
	font-weight:bold;
}

.max-row-label {
	font-size:12pt;
	font-weight:bold;
	padding:5px;
}
