.month-header {
	max-width:45px;
	min-width:45px;
	width:45px;
}

.month-header > div {
	transform:translate(15px, 38px)rotate(315deg);
	height:80px;
	width:25px;
	margin: 0 auto;
}

body {
	font-size:14pt;
}

.resource {
	font-weight:bold;
}

.number {
	text-align:right;
}

#example {
	width:90%;
	margin:0 auto;
}

.year-header > div {
	font-weight:bold;
	font-size:18pt;
	text-align:center;
}
